:root{
    --color-text-primary: #af912ccc; 
    --color-text-secundary: #c45b41; 
    --color-text-terciary: #101e20; 
    --main-color-primary: #e4e12ccc;
    --main-color-secundary: #95a9b9cc; 
}


